.slide {
  height: 470px;
  width: 950px;
  margin-top: 30px;
  margin-left: 110px;
}

.img {
  height: 470px;
  width: 950px;
}


.picEat{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 110px;
  background-color: #F2F2F2;
}
.eatMenu{
  display: flex;
  margin-bottom: 30px;
  width: 960px;
}
.eatCard{
  display: flex;
}

.fish {
  width: 450px;
  height: 200px;
  position: relative;
  margin-right: 30px;
}

.text {
  position: absolute;
  left: 500px;
  top: 804px;
  z-index: 1;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 500;
}

 .acne {
  width: 224px;
  height: 200px;
  margin-right: 22px;
}
 
.textAcne {
  position: absolute;
  left: 985px;
  top: 804px;
  z-index: 1;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 500;
}

 .noMeat {
  width: 224px;
  height: 200px;
} 

 .textNoMeat {
  position: absolute;
  left: 1230px;
  top: 804px;
  z-index: 1;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 500;
} 
 .eatCard{
  display: flex;
} 

.pizza {
  width: 450px;
  height: 200px;
  margin-right: 30px;

} 

 .textPizza {
  position: absolute;
  left: 500px;
  top: 1025px;
  z-index: 1;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 500;
} 

.stock {
  width: 470px;
  height: 200px;
} 

 .textStock {
  position: absolute;
  left: 995px;
  top: 1025px;
  z-index: 1;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 500;
} 
.new_popular{
  display: flex;
  margin-left: 110px;
  margin-top: 52px;
  margin-bottom: 29px;
} 
.new{
  font-size: 24px;
  font-weight: 500;
  color: #000000;
}
.popular{
  font-size: 24px;
  font-weight: 500;
  color: #A4ACAD;
  text-decoration-line: underline;
  margin-left: 30px;
}
.left{
  margin-top: 192px;
  width: 60px;
  height: 60px;
}
.news_product{
  display: flex;
  justify-content: space-between;
  margin-bottom: 174px;
}
.new_card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 289px;
  height: 397px;
  background-color: #FFFFFF;

}
.sushi_new{
  margin-bottom: 30px;
  width: 253px;
  height: 203px;
}
.sushi_new{
  margin-bottom: 15px;
}
.new_card_text{
  width: 253px;
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
}
.new_card_text2{
  width: 253px;
  display: flex;
  margin-bottom: 15px;
}

.new_text{
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 0;
}

.new_text2{
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 0;
  line-height: 30px;

}
.new_text_weight{
  font-size: 18px;
  font-weight: 400;
  color: #A4ACAD;
  margin-left: 17px;
}
.new_card_weight{
  width: 289px;
  display: flex;
  border-bottom: 0.5px solid #A4ACAD;
}
.price{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 289px;
  height: 61px;
}
.price_text{
  display: flex;
  align-items: center;
  font-weight: 700;
font-size: 24px;
line-height: 30px;
color: #000000;
}
.price_btn{
  width: 143px;
  height: 35px;
display: flex;
justify-content: center;
padding: 5px 42px;
background: #F46D40;
border-radius: 5px;
color: #F2F2F2;
border: 0;
}