.footer_text{
  margin-left: 110px;
  width: 950px;
}

.name{
  font-size: 24px;
  font-weight: 700;
  color: #A4ACAD;
  text-align: start;
  margin-left: 0;
}
.footer_order{
  font-weight: 400;
  font-size: 18px;
  color: #A4ACAD;
}
.footer_order_text{
  font-weight: 400;
  font-size: 18px;
background: -webkit-linear-gradient(#A4ACAD, #e1dada);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
}

.details{
  display: flex;
  justify-content: center;
  align-items: center;
}
.details_text{
font-size: 24px;
font-weight: 400;
color: #F46D40;
}

.vector{
  width: 15px;
  height: 7px;
  margin-left: 10px;
}

.footer{
  display: flex;
    width: 950px;
    height: 269px;
    background-color: #F2F2F2;
    border-top: 0.5px solid #A4ACAD;
    margin-left: 110px;
    margin-top: 60px;
  }
  
  .leftFooter{
    display: flex;
    flex-direction: column;
    border-right: 0.5px solid #A4ACAD;
    width: 290px;
    margin-top: 22px;
  }
  .centerFooter{
    display: flex;
    flex-direction: column;
    width: 330px;
    border-right: 0.5px solid #A4ACAD;
    margin-top: 22px;
  
  }
  .rightFooter{
    display: flex;
    flex-direction: column;
    margin-top: 22px;
  }
  

  .textLeft{
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
    text-decoration: none;
    color: black;
  }
  .textLeft:hover{
    color: #F46D40;
  } 
  
  .textRight{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 5px;
    margin-left: 41px;
    color:#A4ACAD;
  }
  .centerText{
    font-size: 18px;
    font-weight: 500;
    margin-left: 40px;
    margin-bottom: 10px;
  }
  
  .numberText{
    font-size: 18px;
    font-weight: 500;
    color: #A4ACAD;
    margin-left: 40px;
    margin-bottom: 20px;
  }
  
  .appText{
    font-size: 18px;
    font-weight: 400;
    color: #A4ACAD;
    margin-left: 40px;
    margin-bottom: 10px;
  }
  
  .applications{
    display: flex;
    margin-left: 41px;
  }
  
  .networks{
    width: 50px;
    height: 50px;
    opacity: 0.7;
    margin-right: 30px;
   
  }
  #networksInsta{
    background: linear-gradient(49.12deg, #FFDD55 6.62%, #FF543E 50.06%, #C837AB 93.5%);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .networksInsta{
    width: 34px;
    height: 34px;
  
  }
